<h1>The Betchy Guide to Eating in CT, SA</h1>
<p>If you live on Kloof, you won't even need to spend a Rand on an Uber because these restaurants all are walking distance!<br/><br/><small>Save Uber money and burn calories on the walk so you can order seconds!</small></small></p>

<a href="/rest">Favorite CT Restaurants</a> | <a href="/rest/recommendation">Dishes to Devour</a> | <a href="/about">About Us</a>
<br/><br/><a href="https://www.uber.com/">Click for Uber.</a>