<h1> About Me</h1>

<p> Address: 216 at YoursTruly </p>
<p> I am a sophomore at U of M. GO BLUE!</p>
<p> This is my first summer not at summer camp. I have gone since I was 8 years old. </p>

<p> I am obsessed with my family. I hope one day to travel the whole world.</p>
<p> I have an icecream eating problem </p>
<p>Hobbies: travelling,playing violin, volleyball, yoga, eating icecream, swimming, soulcycle, running along the beach </p>
<p> Preposition: This summer we should make a Session 2 Bucket List of things to do before we leave. 
<br/><a href="/">Return to Home Page</a>
<br/><a href="/contact"> Contact </a>
