<h1> Contact Me </h1>
<p> Email: Leeman@umich.edu</p>
<p>Phone: 347-922-8572</p>
<p> Home: Forest Hills, New York </p>
<p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>
<p> Follow me on INSTAGRAM! @bexter911 </p>
<p> MORE IMPORTANTLY: DON'T Check out @cavapup_teddy ...(reverse psychology)</p>

<br/><a href="/">Return to Home Page</a>
<br/><a href="/contact"> Contact</a>
<br/><a href=<"https://www.facebook.com/?ref=hp"><small>Facebook</small></a>

<p> Please feel free to leave your email, and we can get in touch. </p>


