<h1>Rebecca's Home Page</h1>
<p><%= "Thanks for checking out my page"%></p>
<p><%= "Hometown:Queens, New York." %></p>
<p> Current Residence: Cape Town, South Africa </p>


<img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11391529_10153032346993687_180079472672205098_n.jpg?oh=9f6b08e9a268bcda68169c22d5b3a85a&oe=55F1433D" width="300px">
<br/><a href="/about"> About me</a>
<br/><a href="/contact"> Contact me</a>

